<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.try3x.uttam">

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, usesCleartextTraffic">
        <activity android:name=".Game2.Game2Activity"
            android:label="Game 2"
            android:theme="@style/custom_theme"></activity>


        <activity android:name=".Game2.ResultListActivity"
            android:label="Game 2"
            android:theme="@style/custom_theme"></activity>
        <activity
            android:name=".AppUpdateActivity"
            android:label="App Update"
            android:theme="@style/custom_theme" />
        <activity android:name=".ResultVideoActivity" />
        <activity android:name=".Game2.MyBajiListActivity" />
        <activity
            android:name=".TransactionActivity"
            android:label="Transactions"
            android:theme="@style/custom_theme" />
        <activity
            android:name=".ResultListActivity"
            android:label="Baji Result"
            android:theme="@style/custom_theme" /> <!-- Keep it false in production environment -->
        <meta-data
            android:name="com.phonepe.android.sdk.Debuggable"
            android:value="false" /> <!-- Keep it false in production environment -->
        <meta-data
            android:name="com.phonepe.android.sdk.isUAT"
            android:value="true" />

        <service
            android:name=".Notification.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.UpdateServices"
            android:enabled="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".UserProfileActivity" />
        <activity android:name=".PayoutActivity" />
        <activity android:name=".AddCoinActivity" />
        <activity android:name=".MyWithrawbleActivity" />
        <activity android:name=".MyCommisionActivity" />
        <activity android:name=".MyCoinActivity" />
        <activity android:name=".MyBajiListActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>